.admin__left {
    margin-top: 50px;
    font-family: "Times New Roman", Times, serif;
    font-size: 40px;
    border-right: 6px solid black;
    /* margin-right: 200px;*/
    width: 50%;
  }
  .card {
    background-color: rgba(0, 0, 0, 0);
    border: 0;
  }
  .admin__right {
    margin-top: 50px;
    font-family: "Times New Roman", Times, serif;
    font-size: 35px;
    width: 50%;
  }
  .container {
    display: flex;
    flex-direction: row;
  }
  .home {
    /*height: 100vh !important;
    width: 100%;
   overflow-y: hidden;*/
  }
  .row {
    margin-right: 0;
    margin-left: 0;
  }
  .input {
    width: 200px;
    height: 50px;
  }
  .button__right {
    font-family: "Times New Roman", Times, serif;
    font-size: 23px;
  }
  
  .error {
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    color: red;
  }
  html {
    height: 100%;
  }
  body {
    background-color: rgb(255, 217, 64) !important;
    background: url("../../imgandsound/Flugroute_Waben_links.png");
    height: 100%;
    margin: 0;
    padding: 0;
  }
  .footer {
    margin-top: 10px;
  }
  .list {
    font-size: 15px;
    width: 50%;
    /* height: 50px;*/
  }
  .flex__element {
    display: flex;
    flex-direction: row;
  }
  .error {
    font-size: 20px;
  }
  .form-control {
    width: 50%;
  }
  .btn {
    width: 150px;
  }
  .navItem {
    font-size: 100%;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  .navbar {
    padding: 0.1rem 1rem !important;
  }
  .navItem:hover .navItem > a {
    color: yellow !important;
  }
  .navbar {
    margin-right: 0px;
  }
  
  @media only screen and (min-width: 501px) and (max-width: 1063px) {
    .admin__left,
    .admin__right {
      border-right: 0px !important;
      width: 80%;
    }
  }
  @media only screen and (max-width: 500px) {
    .admin__left,
    .admin__right {
      border-right: 0px !important;
      width: 150%;
    }
    .list {
      font-size: 15px;
      width: 200px;
    }
    .site-logo img {
      max-height: 80px;
    }
  }
  @media only screen and (max-width: 350px) {
    .navbar {
      margin-right: -120px;
    }
  }